.login {
	position: absolute;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	z-index: 1;
	box-sizing: border-box;
}

.login-background{
	position: absolute;
	top: 0px;
	padding: 60px;
	height: 100%;
	width: 100%;
	background-color: #fafafa;
	align-content: center;
}

.login-foreground{
	padding: 20px;
	height:	435px;
	width: 350px;
	background-color: white;
	border-radius: 5px;
	border: 1px solid #ddd;
	margin: auto;
	position: relative;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.login-title{
	position: relative;
	height: 65px;
	width: 230px;
	padding-top: 20px;
	padding-bottom: 20px;
	border-bottom: 1px solid #ddd;
	font: 26px "Century Gothic", Futura, sans-serif;
	color: black;
	text-align: center;
	margin-bottom: 30px;
}

.login-foreground input{
	width: 250px;
	height: 40px;
	border: 1px solid #ddd;
	border-radius: 5px;
	margin: 10px;
	padding: 10px;
	font: 14px "Century Gothic", Futura, sans-serif;
}
.login-foreground input::placeholder{
	font: 14px "Century Gothic", Futura, sans-serif;
}

.login-button {
	text-decoration: none;
	width: 250px;
	height: 40px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	background-color: #2e2e2e;
	color: #e0e0e0;
	margin-top: 20px;
}

.login hr {
	display: block;
	position: relative;
	width: 200px;
	top: 30px;
	border: 1px inset #f2f2f2;
}

.login-sign-up-button {
	text-decoration: none;
	width: 250px;
	height: 40px;
	border: none;
	border-radius: 5px;
	padding: 10px;
	text-align: center;
	background-color: #e0e0e0;
	color: #2e2e2e;
	margin-top: 60px;
}