.stock-profile {
	position: absolute;
	padding: 0;
	margin: 0;
	height: 100%;
	width: 100%;
	z-index: -1;
	overflow-y: auto;
}

.stock-profile-background{
	position: absolute;
	top: 67px;
	padding: 40px;
	height: 1060px;
	width: 100%;
	background-color: #fafafa;
	z-index: -2;
}

.stock-profile-info {
	position: absolute;
	left: 31.5%;
	width: 700px;
	height: 400px;
	display: flex;
	flex-flow: row;
}

.stock-profile-about{
	width: 380px;
	height: 400px;
	padding: 15px;
	background-color: white;
	border-radius: 5px;
	display: flex;
	flex-flow: row;
	border: 1px solid #ddd;
}

.stock-profile-about-info{
	width: 100%;
	height: 150px;
	margin-left: 20px;
}

.stock-profile-about-name{
	font: 22px "Century Gothic", Futura, sans-serif;
	text-align: right;
	border-bottom: 1px solid #ddd;
}

.stock-profile-about-info-specific{
	width: 100%;
	text-align: right;
	font: 20px "Century Gothic", Futura, sans-serif;
	margin-top: 10px;
}

.stock-profile-about-assets-container {
	position: absolute;
	margin-top: 165px;
	width: 350px;
	height: 180px;
	border-top: 1px solid #ddd;
}

.stock-profile-about-assets{
	width: 100%;
	height: 100%;
	display: flex;
	flex-flow: row;
}

.stock-profile-about-assets-section{
	width: 50%;
	height: 100%;
}

.stock-profile-about-asset{
	width: 100%;
	height: 50%;
	display: flex;
	justify-content: flex-start;
	flex-flow: row;
	padding: 20px;
	font-size: 13px;
}

.stock-profile-about-assets i{
	margin-top: 8px;
	font-size: 24px;
}

.stock-profile-classes{
	width: 280px;
	height: 400px;
	margin-left: 40px;
	background-color: white;
	border: 1px solid #ddd;
	border-radius: 5px;
	padding: 20px;
	font: 24px "Century Gothic", Futura, sans-serif;
	display: flex;
	flex-flow: column;
	align-items: center;
}

.stock-profile-classes hr {
	width: 100%;
	border: 1px inline #ddd;
	position: relative;
	top: -5px;
}

.stock-profile-classes li {
	padding: 11px;
	border-bottom: 1px solid #ddd;
	text-decoration: none;
	list-style-type: none;
	font: 18px "Century Gothic", Futura, sans-serif;
	text-align: center;
}

.stock-profile-foreground{
	padding: 10px 30px;
	height: 550px;
	width: 700px;
	background-color: white;
	color: black;
	border-radius: 3px;
	border: 1px solid #ddd;
	position: absolute;
	left: 31.5%;
	top: 470px;
}

.stock-profile-value{
	margin-top: 10px;
	font: 36px "Century Gothic", Futura, sans-serif;
}

.stock-profile-change{
	display: flex;
	flex-flow: row;
	font: 16px "Century Gothic", Futura, sans-serif;
	border-bottom: 1px solid #ddd;
	padding-bottom: 10px;
}

.stock-profile-change-past-week{
	margin-left: 5px;
}

.stock-profile-graph{
	position: relative;
	left: -63px;
	width: 100%;
	height: 350px;
	margin-top: 10px;
	margin-bottom: 10px;
}

.stock-profile-graph-length-bar{
	width: 100%;
	height: 70px;
	border-bottom: 1px solid #ddd;
	display: flex;
	flex-flow: row;
	justify-content: flex-end;
}

.stock-profile-graph-length-bar .inactive{
	position: relative;
	left: -438px;
	width: 50px;
	height: 100%;
	font: 20px "Century Gothic", Futura, sans-serif;
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 10px;
	background-color: white;
	border: none;
}
.stock-profile-graph-length-bar .inactive:hover{
	background-color: #e0e0e0;
	cursor: pointer;
}

.stock-profile-graph-length-bar .active{
	position: relative;
	left: -438px;
	width: 50px;
	height: 100%;
	border: none;
	border-bottom: 2px solid black;
	background-color: #e0e0e0;
	font: 20px "Century Gothic", Futura, sans-serif;
	display: flex;
	justify-content: center;
	padding-top: 30px;
	padding-bottom: 10px;
	cursor: pointer;
}

.stock-profile-graph-length-bar-point-hover{
	position: absolute;
	height: 69px;
	display: flex;
	flex-flow: column;
	justify-content: center;
	float: right;
	font: 16px "Century Gothic", Futura, sans-serif;
	visibility: hidden;
}